@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

h2,h3,h4,h5,h6{
    text-transform: uppercase;
    margin: 0;
}

p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #141414;
}

.main-nav{
    background-color: #141414;
}

.main-nav .navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover{
    color: #FFFFFF;
    font-weight: 700;
    /*trzeba dopracować jeszcze !*/
}

.jumbo {
    background: url('./assets/jumboImage.jpg') no-repeat bottom;
    background-size: cover;
    color: #FFFFFF;
    height: 95vh;
    z-index: -2;
    text-align:center;
}

.jumbo .jumbo-wrapper{
    height: 95vh;
}

.jumbo .jumbo-subtitle {
    color: #A4A4A4;
    font-size: 1.25em;
    letter-spacing: 0.125rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.jumbo .jumbo-title {
    font-size: 3.25em;
    letter-spacing: 1rem;
    font-weight: 700;
    line-height: 1.25em;
}

.section-title,
.section-subtitle{
    margin: 0;
    padding-left: 10px;
    border-left: 10px solid #FFFFFF;
    color: #FFFFFF;
}

.section-title{
    font-weight: 700;
}

.section-subtitle{
    font-weight: 500;
    color: #A4A4A4;
}

.about-me {
    background: url('./assets/aboutMeBG.jpg') no-repeat;
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 0px;
    text-align: justify;
}

.about-me .section-title {
    text-align: left;
}

.offer-section{
    background-color: #141414;
    color: #FFFFFF;
}

.offer-section .offer-price{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #BB9847;
}

.offer-section .offer-dscr{
    text-align: justify;
    color: #FFFFFF;
}

.advantages-section{
    background: url('./assets/advBG.jpg') no-repeat;
    background-size: cover;
    font-size: 1.5em;
    text-align: center;
}

.advantages-section .section-title{
    color: #141414;
    border: 0;
}

.advantages-section .advantage-img{
    max-height: 150px;
}

.contact-section{
    background-color: #505050;
    text-align: center;
}

.contact-section .section-title,
.contact-section .section-subtitle{
    border: 0;
}

.contact-section .contact-btn{
    background-color: #BB9847;
    border: 0;
    border-radius: 100px;
    height: 65px;
    width: 65px;
}

.contact-section .contact-btn:hover{
    background-color: #FFFFFF;
}

.contact-section .contact-btn .btn-pic{
    fill: #505050;
}

.footer{
    color: #A4A4A4;
}
  
.footer .nav-link{
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
}

.footer .nav-link:hover{
    color: #FFFFFF;
    font-weight: 700;
}

.footer .copy{
    color: #A4A4A4;
}

.footer .copy:hover{
    color: #FFFFFF;
    text-decoration: none;
}

@media (min-width: 576px){
    .jumbo{
        text-align: right;
    }

    .jumbo .jumbo-subtitle{
        margin-right: 15px;
    }

    .jumbo .jumbo-title{
        font-size: 4em;
        letter-spacing: 1.25rem;
    }
}